<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="lfsinsim" type="FullMotion.LiveForSpeed.InSim.ConfigurationHandler,LFSLib" />
  </configSections>
  <lfsinsim>
    <host
      addr="127.0.0.1"
      port="30000"
      />
    <insim
      port="30001"
      keep_alive="true"
      split_msg="true"
      guaranteed_delivery="true"
      />
    <outsim
      interval="500"
      />
    <outgauge
      interval="500"
      />
  </lfsinsim>
</configuration>